<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= filename %></title>
  <link rel="stylesheet" href="/public/images/stylesheets/style3.css">
</head>
<body>
  <h1><%= filename %></h1>
  <pre><%= filedata %></pre>
  <a href="/">Go Back</a>
</body>
</html>